<!----  Passing String, Number and Boolean ------>

<!-- <label>Name:</label>
<input type="text" [(ngModel)]="parentInstance.name" />
<br />
<label>Age:</label>
<input type="number" [(ngModel)]="parentInstance.age" />

<app-custom-property 
  [childMessage]="parentMessage" 
  [customerID]="customerIDParent" 
  [showChildMessage]="showParentMessage"
  [userChildObject]='userObject'
  [childArray]="parentArray"
  [myInputData]="parentData"
  [customInstance]="parentInstance">
</app-custom-property>

<button (click)="toggleMessage()">Click</button>

<button (click)="emitEvent()">Send Event</button> -->


<!-----This is Custom Event Binding ---->

<!-- <app-custom-event (onUserClick)="displayChildData()"
 (onUserReq)="displayUserReq()"></app-custom-event>
<p>{{message}}</p>

<p>{{numberDigits}}</p> -->


<!---------- ng Content tag --------------->
<!-- <app-ng-content-component></app-ng-content-component> -->

<!----------- Life Cycle Method -------------->
<app-lf-method></app-lf-method>